{% extends 'index.html' %}

{% block title %}
    Recipient
{% endblock %}

{% block content %}
    <div class = "container-fluid">
        <div class = "row contact-row">
            <div class = "col-xl-7 contact-form-animate">
                <p class = "text-center">
                   You can fill out the recipient form below to create a list of recipients.
                </p>
                <form method="post" class = "control-form" action="{% url 'recipient_url' %}">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <br>
                    <div class="col">
                        <button type="submit" class="btn btn-block btn-primary">Send Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}